{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia laboriosam
        inventore enim est perspiciatis ut laborum, nostrum doloribus odit autem voluptate deserunt repellat,
        saepe officiis dolorem repellendus. Earum magni mollitia minus repudiandae iste, voluptates non
        sit aliquid ratione? Distinctio, cum repellendus ullam eos quam cumque voluptatem ratione placeat
        asperiores non quo reprehenderit laborum soluta corporis? Aliquam soluta beatae ex odit? Impedit
        nihil minus enim et odio accusantium provident laboriosam sunt! Aperiam deleniti distinctio cupiditate
        molestiae magnam totam culpa quisquam, sed praesentium dolores! Nemo, vitae.
        Accusantium culpa veritatis, beatae repellat assumenda sequi. Cumque, id harum doloribus
        quisquam quidem dignissimos laborum.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>

            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}